<div class='cointainer'>

  <div class='flex-row'>
    <!-- Heading -->
    <div class='d-flex justify-content-center'>
      <h1 style="color:#007bff"> Task Manager App </h1>
    </div>

    <br>

    <div class='d-flex justify-content-center'>
      <p> A Short Description of the App </p>
    </div>
  </div>

  <!-- Display of random tasks-->
</div>
